* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  color: var(--text-primary);
  scroll-behavior: smooth;
  font-family: sans-serif;
  background: var(--bg-primary);
}

.app {
  position: relative;
  overflow-x: hidden;
}

.section {
  padding: 3rem 10rem;
  flex-direction: column;
  display: flex;
}

button {
  background: linear-gradient(135deg, var(--bg-button), var(--accent-color));
  color: var(--text-primary);
  border: none;
  border-radius: 15px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background: var(--accent-color);
  transform: translateY(-2px);
  transition: transform 0.2s ease;
}

.button-secondary {
  background: transparent;
  border: 2px solid var(--accent-color);
}

.material-symbols-outlined {
  vertical-align: middle;
  padding-right: 0.2rem;
  font-size: 42px;
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 20;
}

details {
  cursor: pointer; 
  border-bottom: 1px solid var(--accent-color);
}

details:hover {
  transform: translateY(-3px); 
  transition: transform 0.2s ease; 
}

summary {
  font-weight: bold;
  padding: 1.2rem;
}

details p {
  padding: 0.2rem 2rem 1.5rem;
  color: var(--text-secondary);
}

@media (min-width: 1700px) {
  .section {
    padding: 3rem 15rem;
  }
}

@media (max-width: 1024px) {
  .section {
    padding: 3rem 5rem;
  }
}

@media (max-width: 768px) { 
  .section { 
    padding: 2rem 2rem; 
  } 

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  button:hover { 
    transform: none;
  }

  details:hover {
    transform: none; 
  }
}